/* CSS BY Leilani Jauregui */

/* IMPORTED FONTS*/
/* IMPORT "INTER" FROM GOOGLE FONTS"*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */
body {
    font-family: var(--font);
    color: var(--white);
    background-color: var(--black);
}

/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */

/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ADD FLOATING SVG LOGO BEFORE THE H1 */
 .container h1 {
    content: "";
    left:-.5rem;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    flex-wrap: wrap;
}

header h1 {
    color: var(--blue);
   padding-left: 2rem;
   font-size: 1.25rem;
   padding-top: 1rem; 
}

header h1 span {
    margin-left: 3rem;
    font-weight: bold;
    font-size: 1.75rem;
}
#menu-toggle {
    display: none;
}

label span {
    background-color: white;
    display: block;
    height: .25rem;
    position: relative;
    transition: background-color .3s ease-out;
    width: 2rem;
}

label span:before, label span:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

label span:before {
    top: .75rem;
}

label span:after {
    top: -.75rem;
}

header nav {
    display: none;
   padding: 1rem;
   text-align: right;
   background-color: var(--black);
   width: 100%;
}

header nav a {
    color: var(--blue);
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    padding: 0.75rem 1.5rem;
}

header nav a:hover {
    background-color: var(--blue);
    color: var(--black);
}
#menu-toggle:checked ~ nav {
    display: block;
}




/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
 #innovation {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
}

#innovation h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#innovation p {
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

.button {
    display: inline-block;
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
    margin-top: 1rem;
    padding: 1rem 1rem;
    border-radius: 7px;
}

.button:hover {
    background-color: var(--red);
    color: var(--white);
    transform: scale(1.05);
}

#services {
    background: var(--white);
    color: var(--black);
    padding: 1rem 0.5rem;
}

#services h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

#services p {
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 1.5;
}

.card {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 7px;
}

.card h3 {
    font-weight: bold;
}

.card:hover {
    transform: translateY(-5px);
}

#results {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

.results-container {
    display: flex;
    flex-direction: column;
}

#results h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#results p {
    line-height: 1.5;
    margin-bottom: 1rem;
}

#results h3 {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.table {
    width: 100%;
    color: var(--white);
    background-color: var(--black);
    border-collapse: collapse;  
    margin-bottom: 1.5rem;
}

.table th {
    text-align: center;
    font-weight: bold;  
}

.table tr:first-child {
    border-bottom: 1px solid var(--charcoal);
}

.table td {
    padding: 0.25rem 0;
}

.table th, .table td {
    border-left: 1px solid var(--charcoal);
    padding: 0.25rem 0.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding: 1rem 1rem;
    text-align: center;
}

.charcoal {
    background-color: var(--charcoal);
}

/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: height 0.5s ease-in-out;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}

#contact {
    padding: 2rem 1rem 2rem;
}
#contact h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#contact p {
    line-height: 1.5;
    margin-bottom: 1rem;
}

.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

}
.contact-form input, .contact-form textarea {
    display: block;
    padding: 0.5rem;
    width: 100%;
    border: 2px solid var(--blue);
}

.contact-form input[type="submit"] {
    margin-top: 2rem;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 7px;
    font-weight: bold;
    padding: 0.75rem 0;
}

.contact-form input[type="submit"]:hover {
    background-color: var(--red);
    transform: scale(1.05);
}

footer {
    text-align: center;
    line-height: 1.5;
}

.phone-link {
    text-decoration: none;
    color: var(--white);
}

@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}


/* MEDIA QUERIES (MEDIUM) */ 
@media screen and (min-width: 800px) {

   #services .cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
   }

   #services .card {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
   }
    #results {
        grid-template-columns: 1fr 1fr;
    }

    #results p {
        grid-column: 1 / -1;
        max-width: 700px;
    }
    .results-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .results-table {
        width: 50%;
    }
    .bar-chart {
        width: 50%;
    }
}

/* MEDIA QUERIES (LARGE) */
@media screen and (min-width: 1024px) {
    #services .cards-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .results-container {
        display: flex;
        justify-content: center;
        gap: 4rem; 
    }

    .results-table {
        width: 100%;
    }

    .bar-chart {
        width: 100%;
    }

    #contact .container {
        display: block;
        grid-template-columns: 1fr 1fr;
    }

    #contact p {
        margin-bottom: 2rem;
    }
    #contact textarea {
        grid-column: 1;
    }

    #contact button {
        grid-column: 2;
        margin-top: -2rem;
    }

    #contact .contact-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem 2rem;
    }

    #contact .field {
        width: 100%;
    }

    #contact .field:last-child {
        grid-column: 2;
    }

    #contact input[type="submit"] {
        grid-column: 2;
        margin-top: 8px;
    }
}